/*container*/
.menu {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.main{
    font-family: 'poppins', sans-serif;
}

.imagem-main{
    width: 90%;
    margin: 22px;
}

.titulo-main{
    margin: 22px;
    font-weight: bold;
    font-size: 40px;
}

.paragrafo-main{
    text-align: justify;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

button{
    width: 15em;
    margin: 15px;
    background-color: var(--fundo);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    color: var(--cor-de-fundo);
    font-size: 15px;
    text-transform: uppercase;
    
}